body{
  font: 12px/1.5 tahoma, 'Hiragino Sans GB',
  '\5b8b\4f53';
  color: #3C3C3C;
  margin: 0;
  padding: 0;
}
a{text-decoration: none;}

/*导航栏*/
#nav, #nav ul{  /*导航栏的背景*/
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.3);
  padding: 0;
  margin: 0;
  z-index: 100;
}
#nav ul{ /*导航栏包裹的无序列表*/
  list-style: none; /*清除无序列表前的顿号*/
  clear: both; /*清除浮动*/
}
#nav ul li{
  float: left; /*向左浮动*/
  height: 60px;
  line-height: 60px; /*/让连接垂直居中*/
  text-align: center;
  position: relative;
}
.personal{
  width: 47.5%;
}
#heart{
  width: 5%;
}
.personal:hover{
  background-color: #F80;
}
#nav ul li a{
  color: #fff;
}
/*二级导航栏*/
#nav .submenu{  /*二级导航栏默认隐藏*/
  position: absolute;
  display: none; /*不显示*/
  background-color: rgba(255,80,0,0.6);
  width: 100%;
}
#nav ul li:hover .submenu{ /*鼠标放在相应的位置显示二级导航栏*/
  display: block; /*显示*/
}
/*导航栏end*/

/*图*/
.banner{
  width: 100%;
  height: 900px;
  background-size: cover; /*图片根据大小拉伸*/
  background-attachment: fixed;
  background-image: url('http://b305.photo.store.qq.com/psb?/V11W6I2o24iwqm/u5jKmqYX.K4EF6HhGH96yJLTCkT7pCQM.4nSYX.ngkI!/b/dDEBAAAAAAAA&bo=VAY4BFQGOAQRECc!&rf=viewer_311');
  position: relative;
  margin-bottom: 175px;
}
.banner h1 , .banner span{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
  color: #FFF;
  text-shadow: 0 1px 3px #000;
  z-index: 5;
}
.banner span{
  top: 45%;
  font-size: 22px;
}
#banner .bcover{
  position: absolute;
  width: 100%
  height: 100%;
  background-image: linera-gradient(180deg, transparent 0%,
    #000 100%);
  z-index: 1;
} 

 /*电影*/
 #movies{
  margin: 175px 50px 25px 50px; /*上右下左*/
  border: thin dotted #999999;
  float: left;
  padding: 50px 50px 20px 50px;
  /*height: 570px;
  width: 95%;
  overflow-y: auto;*/
 }
 #movies h1{
  color:  #9932CC;
 }
 .movieimg{
  padding: 1%;
  float: left;
  margin-left: 1%;
 }
 .movieimg img{
  height: 205px;
  width: 155px;
 }
 .movieimg span{
  padding: 5px;
  font-size: smaller;
  color:  #778899;
  text-align: center;
 }

 /*底部*/
 #bottom{
  margin-bottom: 10px;
  text-align: center;
  color: white;
 }